{% load staticfiles %}

<footer>
    <div class="main-footer">
        <div>
            <div class="space-20"></div>
            <ul class="social-bars">
                <a href="https://github.com/sorunokoe/TheCurrencyConversion" target="_blank"><li><i class="fa fa-github fa-3x"></i></li></a>
            </ul>
        </div>
    </div>
    <hr>
    <div class="signature">
      <p>Copyright © 2015-2018 TheCurrencyConversion. All rights reserved</p>
      <p>Created by Yeskendir Salgara. Qazaqstan, Astana</p>
    </div>
</footer>

{% include "libraries.html" %}