<header>
    <!--<ul id="headerMenu" class="main-menu">-->
        <!--<a class="logo-brand" href="/">-->
            <!--<li>-->
                <!--<img src="/static/img/ruby.png">-->
            <!--</li>-->
        <!--</a>-->
        <!--<a class="main-page" href="/">-->
            <!--<li>TheCurrencyConversion</li>-->
        <!--</a>-->
    <!--</ul>-->
    <!--<div class="mobile">-->
        <!--<a href="/">-->
            <!--<img src="/static/img/ruby.png">-->
        <!--</a>-->
        <!--<i id="bar" class="fa fa-bars"></i>-->
    <!--</div>-->
</header>