
{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/libraries/jquery.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/libraries/angular.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/libraries/angular-route.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/libraries/angular-animate.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/libraries/angular-cookies.min.js' %}"></script>
